.cards {
    width: 300px;
    height: 60vh;
    border: 1px solid white;
    margin: 2rem 0.5rem;
    box-shadow: -1px 0px 15px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 0px 15px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 15px -1px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}



.black:hover {
    background-color: rgba(0, 0, 0, 0.421);
    z-index: 5;
    opacity: 1;
}



.cards-container {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.cards-container .product-img {
    width: 100%;
    height: 70%;
    padding: 0.5rem;
    position: relative;
}

.cards-container .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    z-index: -1;
}

.black {
    width: 95%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    bottom: 8px;
    color: white;
    border-radius: 8px;
}

.black:hover {
    background-color: rgba(0, 0, 0, 0.605);
    z-index: 5;
    opacity: 1;
}


.details {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card-info>h3 {
    font-size: 16px;
    text-align: start;
    margin-bottom: 0.5rem;
}

.d-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.d-right>h2 {
    font-size: 21px;
}

.d-right>button {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(56, 56, 245);
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.d-right>button:hover {
    background-color: rgb(111, 111, 255);
}

