@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins";
    overflow-x: hidden;
}


ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: 600;
}

Link {
    text-decoration: none;
}